
 
    <nav class="navbar">
        <div class="nav-logo">
            <a href="#">Wael</a>
        </div>
        <div class="nav-items">
            <ul>
                <li><a href="/project-list">List projects </a></li>
                <li><a href="/project"> Managment </a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/strategy">Generate stratygy</a></li>
                <li><a href="/project-details">deta</a></li>
                <li><a href="/memeber">member</a></li>
                <li><a href="/Department">Department</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <a href="/login">Logout</a>
        </div>
        <div id="hamburger-menu">&#9776;</div>
    </nav>

    <div id="mobile-menu">
        <div class="mobile-nav-items">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="mobile-nav-button">
            <a href="#">Sign Up</a>
        </div>
        <div id="hamburger-cross">&#10006;</div>
    </div>

    <script>
        const hamburgerMenu = document.getElementById("hamburger-menu");
        const mobileMenu = document.getElementById("mobile-menu");
        const hamburgerCross = document.getElementById("hamburger-cross");

        hamburgerMenu.addEventListener("click", () => {
            mobileMenu.style.display = "flex";
            setTimeout(() => {
                mobileMenu.style.transform = "translateX(0)";
            }, 50);
        });

        hamburgerCross.addEventListener("click", () => {
            mobileMenu.style.transform = "translateX(-100%)";
            setTimeout(() => {
                mobileMenu.style.display = "none";
            }, 300);
        });

        window.addEventListener("resize", () => {
            if (window.innerWidth > 770) {
                mobileMenu.style.display = "none";
            }
        });
    </script>
