
.navbar {  
  backdrop-filter: blur(10px); 
  position: fixed; 
  width:100%; 
  z-index: 1000;  
  height: auto;
}  

.mobile-menu {  
  display: none;  
  position: fixed; /* Fixed position */  
  top: 0; /* Align to top */  
  right: 0; /* Align to right */  
  height: 100%; /* Full height */  
  width: 300px; /* Width of mobile menu */  
  background-color: rgba(18, 18, 18, 0.9); /* Semi-transparent dark background */  
  backdrop-filter: blur(10px); /* Blur effect */  
  flex-direction: column; /* Stack items vertically */  
  transform: translateX(100%); /* Hide off-screen */  
  transition: transform 0.3s ease; /* Smooth transition */  
  z-index: 999; /* Ensure it covers content */  
}  

.mobile-nav-items ul {  
  list-style: none; /* Remove list styling */  
  padding: 0; /* Remove padding */  
}  

.mobile-nav-items li {  
  margin: 15px 0; /* Space between items */  
}  

.mobile-nav-button {  
  margin-top: auto; /* Push to bottom */  
  padding: 20px; /* Add padding */  
}