<app-navs></app-navs>  

<div class="projects-container">  
  <div class="project-card" *ngFor="let project of projects">  
    <a href="/project-details" class="project-card-link">  
      <div class="project-card-header">  
        <h3>{{ project.name }}</h3>  
        <span class="project-status"   
              [ngClass]="{'status-important': project.status === 'important', 'status-normal': project.status !== 'important'}">  
          {{ project.status }}  
        </span>  
      </div>  
      <div class="project-card-body">  
        <p><strong>Start:</strong> {{ project.startDate }}</p>  
        <p><strong>End:</strong> {{ project.endDate }}</p>  
      </div>  
    </a>  
  </div>  
</div>

