html, body {
    height: 100%;
    margin: 0;
    background-attachment: fixed; /* Ensures the background stays fixed when scrolling */
    background-size: cover; /* Ensures the gradient covers the full viewport */
    
}
:root{
	/* Variables For Storing Colors */
	--primary-clr: #ff7550;
	--bg-primary: #1f1d2a;
	--bg-secondary: #252935;
	--bg-ternary: #35333f;
	--heading-clr: #efefef;
	--text-clr: #808191;
	--gradient: linear-gradient(to right, #35333f, transparent);
}