<app-navs></app-navs>
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
        /><span class="font-weight-bold">Edogaru</span
        ><span class="text-black-50">edogaru.com.my</span><span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Name</label
            >   <input
            type="text"
            class="form-control"
            [(ngModel)]="teamMember.name"
            name="name"
            required
            placeholder="First Name"
          />
          </div>
          <div class="col-md-6">
            <label class="labels">email</label
            ><input 
            [(ngModel)]="teamMember.email"
              type="text"
              class="form-control"
              value=""
              placeholder="email"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Mobile Number</label
            ><input
            [(ngModel)]="teamMember.phone"
              type="text"
              class="form-control"
              placeholder="enter phone number"
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Project :</label
            >   
            <select class="form-control" [(ngModel)]="teamMember.project">
              <option *ngFor="let project of projects" [value]="project.name">
                {{ project.name }}
              </option>
            </select><br>
            <span>Post :</span
              ><br>
              
              <select class="form-control" [(ngModel)]="teamMember.project" multiple>
                <option *ngFor="let dep of deps" [value]="dep.name">
                  {{ dep.name }}
                </option>
              </select>
        </div>
        <div class="mt-5 text-center">
          <div class="col-md-12">
            <label class="labels">start date</label
            ><input
            [(ngModel)]="teamMember.startDate"
              type="date"
              class="form-control"
              placeholder="start date"
              value=""
            />
            <label class="labels">end date</label
              ><input
              [(ngModel)]="teamMember.endDate"
                type="date"
                class="form-control"
                placeholder="end date"
                value=""
              />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 py-5">
        <div
          class="d-flex justify-content-between align-items-center experience"
        >
     
        </div>
        <br />
        <div class="col-md-12">
      
        </div>
        <br />
        <button
        class="btn btn-primary profile-button center"
        type="button"
        (click)="saveProfile()" (click)="toggleForm()"
      >
        Save Profile
      </button>
      </div>
    </div>
  </div>
 
</div>
<div class="alert alert-dismissible alert-success"  *ngIf="isFormVisible" >
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
</div>